
@import url("https://use.typekit.net/ure7gzd.css");

html {
    font-size: calc(1em + 1vw);
    height: 100%;
}

* {
    color: #70798C;
}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: neue-haas-unica, sans-serif;
}

h4 {
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #6F5C72;
    text-shadow: 7px 3px 6px rgba(111, 92, 114, 0.15);
    padding: 0;
    margin: 0;
    transform: translate(10%, 50%)
}

.title-h3 {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    transform: translate(15%, 0%)
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F1ED;
/*    overflow-x: hidden;*/
}

.highlight {
    color:#B38D97;
}
/*SIDEBAR*/

side {
    position: fixed;
    width: 17vw;
    height: 100vh;
    background-color: #FCF8F4;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
}


nav {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    transform: translateY(15%)
}

main {
    margin-left: 17%;
}

#logo {
    text-align: center;
}

#logo-img {
    width: 80%;
}

#list-points {
    margin: 20%;
    display: flex;
    flex-direction: column;
    font-size: .8em;
}

#list-points > p {
    font-family: 'Oswald', sans-serif;
}

#some-icons {
    display: flex;
    justify-content: space-around;
}

.fab {
    font-size: 24px;
}



/*INDEX*/
#index {
    overflow: hidden;
}
#index > p {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;

}

.htmltop,
.htmlbottom {
    font-weight: 800;
    font-size: 1em;
    text-transform: lowercase;
    text-shadow: 2px 4px 8px rgba(112, 121, 140, 0.5)
}

.htmltop {
    transform: translate(10%, 400%);
}

.htmlbottom {
    transform: translate(10%, 0%);
}

.hw {
    font-weight: 800;
    font-size: 6em;
    text-transform: uppercase;
    color: #B38D97;
    text-shadow: 10px 10px 20px rgba(179, 141, 151, 0.5);
    transform: translate(5%, 40%);
    padding: 0;
    margin: 0;
}

.index-info {
    font-weight: 800;
    font-size: 0.9em;
    text-shadow: 10px 10px 20px rgba(112, 121, 140, 0.5);
    transform: translate(50%, 100%);
}


/*ABOUT*/

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title tble"
        "p tble";
    overflow-y: hidden;
    height: 100vh
}

#title {
    grid-area: title;
}


#ab-h3 {
 text-shadow: 7px 3px 6px rgba(112, 121, 140, 0.5);
}

#about-text {
    grid-area: p;
    width: 80%;
    margin: auto;
    font-size: .7em;
    transform: translateY(-20%);
}

#about-table {
    position: relative;
    grid-area: tble;
    width: 90%;
    height: 75%;
    background-color: #FCF8F4;
    border-radius: 31px;
    box-shadow: 10px 8px 16px rgba(0,0,0,0.15);
    transform: translateY(15%);
    text-align: center;
    overflow: visible;
}

#table {
    margin: auto;
    width: 80%;
    position: relative;
    top: -30vh;
}

#columns {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 19.3vh;

}

.table-column {
    background-color: #70798C;
    height: 50%;
    width: 5%;
}

/*PORTFOLIO*/
#portfolio {
    display: flex;
    justify-content: space-around;
}

.odd-numbers {
    font-family: 'Oswald', sans-serif;
    font-size: 23em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
      width: 100%;
}

.even-numbers {
    font-family: 'Oswald', sans-serif;
    font-size: 23em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
      width: 5%;
}

.portfolio-boxes {
    transition:all 1s;
    background-color: #FCF8F4;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
    height: 12em;
    width: 18em;
    border-radius: 50px;
}

#bw-box {
    position: absolute;
    top: 25%;
    left: 37%;
    text-align: right;
    z-index: 1;
}

#bw-box > h2 {
    font-size: 4.5em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #FFCAD4;
}

#basic-web > h1 {
    transition:all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 48%;
    font-weight: bolder;
    color: #FFCAD4;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-web > p {
    transition:all 1s;
    text-shadow: 10px 10px 20px rgba(112, 121, 140, 0.5);
    position: absolute;
    top: -20%;
    left: 25%;
}

#ba-box {
    position: absolute;
    top: 155%;
    left: 37%;
    z-index: 1;
}

#ba-box > h2 {
    font-size: 4.2em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #6F5C72;
}

#basic-animation > h1 {
    transition:all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 135%;
    left: 30%;
    font-weight: bolder;
    color: #6F5C72;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-animation > p {
    transition:all 1s;
    color: #B38D97;
    text-shadow: 10px 10px 20px rgba(179, 141, 151, 0.5);
    position: absolute;
    top: 105%;
    right: 32%;
}

#bc-box {
    position: absolute;
    top: 275%;
    left: 37%;
    text-align: right;
    z-index: 1;
}

#bc-box > h2 {
    font-size: 4.5em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
}

#basic-content > h1 {
    transition:all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 255%;
    left: 48%;
    font-weight: bolder;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-content > p {
    transition:all 1s;
    color: #FFCAD4;
    text-shadow: 10px 10px 20px rgba(255, 202, 212, 0.5);
    position: absolute;
    top: 230%;
    left: 22%;
}

#bu-box {
    position: absolute;
    top: 405%;
    left: 37%;
    z-index: 1;
}

#bu-box > h2 {
    font-size: 4.2em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #B38D97;
}

#basic-ux > h1 {
    transition:all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 385%;
    left: 30%;
    font-weight: bolder;
    color: #B38D97;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-ux > p {
    transition:all 1s;
    color: #6F5C72;
    text-shadow: 10px 10px 20px rgba(111, 92, 114, 0.5);
    position: absolute;
    top: 355%;
    right: 32%;
}

/*PORTFOLIO PAGES*/
#bw,
#ba,
#bc,
#bu {
    padding-bottom: 5%;
    overflow-x: hidden;
}

.sectionheader {
    width: 64%;
    font-size: 0.9em;
    margin: auto;
    transform: translate(-10%, 30%);
}

.port-pages > h4 {
    transform: translate(6%, 55%);
}

.port-pages > h3 {
    transform: translate(8%, 5%);
}

.task-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.odd-h5 {
    transition:all 1s;
    position: relative;
    left: 50%;
    transform: translateY(50%);
    z-index: -1;
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

.even-h5 {
    transition:all 1s;
    position: relative;
    left: 5%;
    transform: translateY(50%);
    z-index: -1;
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

.page-box {
    transition:all 1s;
    height: 20%;
    width: 65%;
    background-color: #FCF8F4;
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 31px;
    padding: 3%;
    margin: auto;
}

.odd-box{
      display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "p img"
        "p title"
        "p download";
}

.even-box {
      display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img p"
        "title p"
        "download p";
}

.even-box > p {
    margin-left: 7%;
}

.task-p {
    grid-area: p;
    font-size: 0.65em;
    width: 95%;
}

.task-img {
    grid-area: img;
    width: 100%;
}

.img-caption {
    grid-area: title;
    font-size: 0.7em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.img-text-hightlight {
    color: #B38D97;
}

.img-a {
    grid-area: download;
    text-decoration: none;
    width: 40%;
    padding: 3%;
    background-color: #70798C;
    box-shadow: 5px 5px 10px rgba(112, 121, 140, 0.3);
    color: #FCF8F4;
    margin: auto;
    border-radius: 41px;
    text-align: center;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}
