@import url("https://use.typekit.net/ure7gzd.css");

html {
    font-size: calc(1em + 1vw);
    height: 100%;
}

* {
    color: #70798C;
}

a {
    text-decoration: none;

}

a:hover {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    color: #B38D97;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: neue-haas-unica, sans-serif;
}

h4 {
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #6F5C72;
    text-shadow: 7px 3px 6px rgba(111, 92, 114, 0.15);
    padding: 0;
    margin: 0;
    transform: translate(10%, 50%)
}

.title-h3 {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    transform: translate(15%, 0%)
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F1ED;
    /*    overflow-x: hidden;*/
}

.highlight {
    color: #B38D97;
}

/*SIDEBAR*/

#side {
    transition: all 1s;
    position: fixed;
    width: 17vw;
    height: 100vh;
    background-color: #FCF8F4;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width:900px) {
    #side {
        top: 100vh;
        width: 100vw;
        z-index: 2
    }
}

#hide-button {
    transition: all 1s;
    display: none;
    position: fixed;
    width: 10%;
    min-width: 60px;
    height: 7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFFEFD;
    bottom: 0;
    left: 45%;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
    z-index: 3
}

@media only screen and (max-width:900px) {
    #hide-button {
        display: inherit;
    }
}


.hamburger {
    transition: all 1s;
}

.hamburger:nth-child(1) {
    height: 10%;
    width: 60%;
    margin: auto;
    margin-top: 20%;
    background-color: #70798C;
}

.hamburger:nth-child(2) {
    height: 10%;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    background-color: #70798C;
}

.hamburger:nth-child(3) {
    height: 10%;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    background-color: #70798C;
}

nav {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    transform: translateY(15%)
}

@media only screen and (max-width:900px) {
    nav {
        display: inherit;
        width: 80%;
        margin: auto;
        margin-top: 15%;
        text-align: center;
    }
}

main {
    margin-left: 17%;
}

@media only screen and (max-width:900px) {
    main {
        margin: auto;
        min-width: 390px;
    }
}


#logo {
    width: 80%;
    margin: auto;
}

#logo-img {
    margin: 10%;
    width: 80%;
    max-width: 200px;
}

@media only screen and (max-width:900px) {
    #logo-img {
        margin: 0;
    }
}

#list-points {
    margin: 20%;
    display: flex;
    flex-direction: column;
    font-size: .8em;
}

@media only screen and (max-width:900px) {
    #list-points {
        margin: 10%;
    }
}

#list-points > p {
    font-family: 'Oswald', sans-serif;
}

#some-icons {
    display: flex;
    justify-content: space-around;
}

.fab {
    font-size: 24px;
}



/*INDEX*/
#index {
    overflow: hidden;
}

#index > p {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;

}

.htmltop,
.htmlbottom {
    font-weight: 800;
    font-size: 1em;
    text-transform: lowercase;
    text-shadow: 2px 4px 8px rgba(112, 121, 140, 0.5)
}

.htmltop {
    transform: translate(10%, 400%);
}

.htmlbottom {
    transform: translate(10%, 0%);
}

.hw {
    font-weight: 800;
    font-size: 6em;
    text-transform: uppercase;
    color: #B38D97;
    text-shadow: 10px 10px 20px rgba(179, 141, 151, 0.5);
    transform: translate(5%, 40%);
    padding: 0;
    margin: 0;
}

.index-info {
    font-weight: 800;
    font-size: 0.9em;
    text-shadow: 10px 10px 20px rgba(112, 121, 140, 0.5);
    transform: translate(50%, 100%);
}

@media only screen and (max-width:900px) {
    .hw {
        transform: translate(5%, 20%);
    }

    .index-info {
        transform: translate(30%, 100%);
    }
}

/*ABOUT*/

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title tble"
        "p tble";
    overflow-y: hidden;
    height: 100%
}

@media only screen and (max-width:900px) {
    #about {
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas:
            ". title ."
            ". p ."
            ". tble .";
        overflow-x: visible;
    }
}

#title {
    grid-area: title;
}


#ab-h3 {
    text-shadow: 7px 3px 6px rgba(112, 121, 140, 0.5);
}

#about-text {
    grid-area: p;
    width: 80%;
    margin: auto;
    font-size: .7em;
    transform: translateY(-20%);
}

@media only screen and (max-width:900px) {
    #about-text {
        align-self: end;
        transform: translateY(-10%);
    }
}

#about-table {
    position: relative;
    grid-area: tble;
    width: 70%;
    height: 45%;
    background-image: url(assets/images/me.JPG);
    background-size: cover;
    border-radius: 31px;
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    align-self: center;
}

@media only screen and (max-width:900px) {
    #about-table {
        min-height: 200px;
        margin: 0;
        justify-self: center;
        transform: translateY(-25%);
    }
}


/*PORTFOLIO*/
#portfolio {
    display: flex;
    justify-content: space-around;
}

.odd-numbers {
    font-family: 'Oswald', sans-serif;
    font-size: 23em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    width: 100%;
}

.even-numbers {
    font-family: 'Oswald', sans-serif;
    font-size: 23em;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    width: 5%;
}

.portfolio-boxes {
    transition: all 1s;
    background-color: #FCF8F4;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
    height: 12em;
    width: 18em;
    border-radius: 50px;
    cursor: pointer;
}

@media only screen and (max-width:900px) {

    .odd-numbers,
    .even-numbers {
        font-size: 18em;
    }

    .portfolio-boxes {
        width: 15em;
    }
}

#bw-box {
    position: absolute;
    top: 25%;
    left: 37%;
    text-align: right;
    z-index: 1;
}


#bw-box > h2 {
    font-size: 4.5em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #FFCAD4;
}

#basic-web > h1 {
    transition: all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 48%;
    font-weight: bolder;
    color: #FFCAD4;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-web > p {
    transition: all 1s;
    text-shadow: 10px 10px 20px rgba(112, 121, 140, 0.5);
    position: absolute;
    top: -20%;
    left: 25%;
}


#ba-box {
    position: absolute;
    top: 155%;
    left: 37%;
    z-index: 1;
}

#ba-box > h2 {
    font-size: 4.2em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #6F5C72;
}

#basic-animation > h1 {
    transition: all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 135%;
    left: 30%;
    font-weight: bolder;
    color: #6F5C72;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-animation > p {
    transition: all 1s;
    color: #B38D97;
    text-shadow: 10px 10px 20px rgba(179, 141, 151, 0.5);
    position: absolute;
    top: 105%;
    right: 32%;
}

#bc-box {
    position: absolute;
    top: 275%;
    left: 37%;
    text-align: right;
    z-index: 1;
}

#bc-box > h2 {
    font-size: 4.5em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
}

#basic-content > h1 {
    transition: all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 255%;
    left: 48%;
    font-weight: bolder;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-content > p {
    transition: all 1s;
    color: #FFCAD4;
    text-shadow: 10px 10px 20px rgba(255, 202, 212, 0.5);
    position: absolute;
    top: 230%;
    left: 22%;
}

#bu-box {
    position: absolute;
    top: 405%;
    left: 37%;
    z-index: 1;
}

#bu-box > h2 {
    font-size: 4.2em;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #B38D97;
}

#basic-ux > h1 {
    transition: all 1s;
    font-size: 5.5em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 385%;
    left: 30%;
    font-weight: bolder;
    color: #B38D97;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#basic-ux > p {
    transition: all 1s;
    color: #6F5C72;
    text-shadow: 10px 10px 20px rgba(111, 92, 114, 0.5);
    position: absolute;
    top: 355%;
    right: 32%;
}

@media only screen and (max-width:900px) {
    #bw-box {
        top: 20%;
        left: 20%;
    }

    #basic-web > h1 {
        font-size: 4.5em;
        left: 40%;
        top: 8%;
    }

    #basic-web > p {
        top: -5%;
        left: 2%;
    }

    #ba-box {
        top: 80%;
        left: 5%;
    }

    #ba-box > h2 {
        font-size: 3.4em;
    }

    #basic-animation > h1 {
        font-size: 4.5em;
        left: 7%;
        top: 68%;
    }

    #basic-animation > p {
        top: 55%;
        left: 60%;
    }

    #bc-box {
        top: 140%;
        left: 20%;
    }

    #basic-content > h1 {
        font-size: 4.5em;
        left: 40%;
        top: 128%;
    }

    #basic-content > p {
        top: 115%;
        left: 0;
    }

    #bu-box {
        top: 200%;
        left: 5%;
    }

    #basic-ux > h1 {
        font-size: 4.5em;
        left: 7%;
        top: 188%;
    }

    #basic-ux > p {
        top: 175%;
        left: 60%;
    }
}

/*PORTFOLIO PAGES*/
#bw,
#ba,
#bc,
#bu {
    padding-bottom: 5%;
    overflow-x: hidden;
}

.sectionheader {
    width: 64%;
    font-size: 0.9em;
    margin: auto;
    transform: translate(-10%, 30%);
}

.port-pages > h4 {
    transform: translate(6%, 55%);
}

.port-pages > h3 {
    transform: translate(8%, 5%);
}

.task-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.odd-h5 {
    transition: all 1s;
    position: relative;
    left: 50%;
    transform: translateY(50%);
    z-index: -1;
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

.even-h5 {
    transition: all 1s;
    position: relative;
    left: 5%;
    transform: translateY(50%);
    z-index: -1;
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

.page-box {
    transition: all 1s;
    height: 20%;
    width: 65%;
    background-color: #FCF8F4;
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 31px;
    padding: 3%;
    margin: auto;
}

.odd-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "p img"
        "p title"
        "p download";
}

.even-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img p"
        "title p"
        "download p";
}

.even-box > p {
    margin-left: 7%;
}

.task-p {
    grid-area: p;
    font-size: 0.65em;
    width: 95%;
}

.task-img,
#img-020406 {
    grid-area: img;
    width: 100%;
    align-self: end;
}

.img-caption {
    grid-area: title;
    font-size: 0.7em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.img-text-hightlight {
    color: #B38D97;
}

.img-a {
    cursor: pointer;
    grid-area: download;
    text-decoration: none;
    width: 40%;
    padding: 3%;
    background-color: #70798C;
    box-shadow: 5px 5px 10px rgba(112, 121, 140, 0.3);
    color: #FCF8F4;
    margin: auto;
    border-radius: 41px;
    text-align: center;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    align-self: start;
}

#button020406 {
    position: relative;
    top: -80%;
}

.img-a:hover {
    transition: all .25s !important;
    transform: translateY(-10%) !important;
    background-color: #B38D97;
}

@media only screen and (max-width:900px) {
    .sectionheader {
        width: 80%;
        transform: translate(0%, 0%);
    }

    .odd-h5,
    even-h5 {
        left: 13%;
    }

    .page-box {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas:
            ". p ."
            ". img ."
            ". title ."
            ". download .";
    }

    #bw,
    #ba,
    #bc,
    #bu {
        padding-bottom: 15%;
    }

    #button020406 {

        top: 0%;
    }
}
